{% with previous_page=url_for('webui.index'), title="Agent builder" %}
{% include "header.html" %}
{% endwith %}

<div class="container">
  <section id="main_content">

  <form method="post" action="{{ url_for('api.build_agent') }}">
  <label for="agent_id">Agent ID </label>
  <input type="text" id="agent_id" name="agent_id" placeholder="Empty to autogenerate one" />
  <br>
  <label for="agent_platform">Platform </label>
  <select id="agent_platform" name="agent_platform">
  <option value="Windows">Windows</option> 
  <option value="Linux" selected>Linux</option>
</select>
  <br>
  <label for="agent_server">CNC URL </label>
  <input type="text" id="agent_server" name="agent_server" value="http://localhost:5000" />
  <br>
  <input type="submit" value="Build" />
  </form>

  </section>
</div>

{% include "footer.html" %}
