{% with title="Ares" %}
{% include "header.html" %}
{% endwith %}

    <div class="container">
    	<section id="main_content">

        <h2>Please define a password for the Web Interface.</h2>
        <form method="POST" id="passform">
          New Password<br><input type="password" name="password" id="password1"><br><br>
          Confirm<br><input type="password" id="password2"><br><br>
    		  <input type="submit" value="Define">
        </form>

	    </section>
    </div>
  <script>
  document.getElementById("passform").onsubmit = function() {
    if (document.getElementById("password1").value == document.getElementById("password2").value) {
      return true;
    }
    else {
      alert("Passwords do not match");
      return false;
    }
  }
  </script>

{% include "footer.html" %}
