{% with title="Ares" %}
{% include "header.html" %}
{% endwith %}
<link rel="stylesheet" type="text/css" href="{{ url_for('webui.static', filename='css/signin.css') }}" media="screen">
    <div class="container">
    	<section id="main_content">

        <form method="POST" id="passform" class="form-signin">
			<h2 class="form-signin-heading">Change password</h2>			
			<input type="password" name="password" id="password1" class="form-control" placeholder="New password" required autofocus>
			<input type="password" name="password" id="password2" class="form-control" placeholder="Confirm" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>

	    </section>
    </div>
  <script>
  document.getElementById("passform").onsubmit = function() {
    if (document.getElementById("password1").value == document.getElementById("password2").value) {
      return true;
    }
    else {
      alert("Passwords do not match");
      return false;
    }
  }
  </script>

{% include "footer.html" %}
