{% with title="Ares" %}
{% include "header.html" %}
{% endwith %}
<link rel="stylesheet" type="text/css" href="{{ url_for('webui.static', filename='css/signin.css') }}" media="screen">
<div class="container">
  <section id="main_content">
    <form method="POST" class="form-signin">
		<h2 class="form-signin-heading">Sign in</h2>
		<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </section>
</div>

{% include "footer.html" %}
