{% with custom_header=True %}
{% include "header.html" %}
{% endwith %}

<header>
<div class="container">
<div style="white-space: pre;color:  #b5e853;font-weight: bold">
   _____                        
  /  _  \_______   ____   ______
 /  /_\  \_  __ \_/ __ \ /  ___/
/    |    \  | \/\  ___/ \___ \ 
\____|__  /__|    \___  >____  >
        \/            \/     \/ 
</div>
</div>
</header>

<div class="container">
  <section id="main_content">
    <form method="POST">
    <h2>Passphrase: </h2><input type="password" name="password" style="width: 50%"> <input type="submit" value="OK">
    </form>
  </section>
</div>

{% include "footer.html" %}
